<div class="form-input  clearfix">
  <div class="nested-fields">
    <%=  f.input  :step, input_html: { class: 'form-input  form-control' } %><br />
    <%=  link_to_remove_association  "Remove", f, class: "btn  btn-default  form-button" %>
  </div>
</div>
<br />
