<h1>New  recipe</h1>
<%=  simple_form_for  @recipe  do  |f|  %>
  <%= f.input  "title"  %>
  <%= f.input  "description"  %>
  <%= f.submit  "Create  Recipe", data: { disable_with: "Create..." }, class: "btn  btn-default"  %>
<%  end  %>
